ReasonableCareTest/db/schema.dtd

<!ELEMENT dataset (
    Student*,
    Appointment*,
    Consultation*,
    Doctor*,
    Nurse*,
    Staff*,
    MakesAppointment*,
    MakesConsultation*)>

<!ELEMENT Student EMPTY>
<!ATTLIST Student
    STUDENTID CDATA #REQUIRED
    STUDENTNAME CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    HEALTHINSURANCEPROVIDERNAME CDATA #IMPLIED
    HEALTHINSURANCEPOLICYNUMBER CDATA #IMPLIED
    STARTINGDATE CDATA #IMPLIED
>

<!ELEMENT Appointment EMPTY>
<!ATTLIST Appointment
    APPOINTMENTID CDATA #REQUIRED
    REASONFORVISIT CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    APPOINTMENTTIME CDATA #REQUIRED
    DOCTORNOTES CDATA #IMPLIED
    COST CDATA #IMPLIED
>

<!ELEMENT Consultation EMPTY>
<!ATTLIST Consultation
    CONSULTATIONID CDATA #REQUIRED
    TIMEOFCONSULTATION CDATA #REQUIRED
    NURSENOTES CDATA #REQUIRED
>

<!ELEMENT Doctor EMPTY>
<!ATTLIST Doctor
    DOCTORID CDATA #REQUIRED
    DOCTORNAME CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    PHONENUMBER CDATA #REQUIRED
    SPECIALIZATION CDATA #REQUIRED
>

<!ELEMENT Nurse EMPTY>
<!ATTLIST Nurse
    NURSEID CDATA #REQUIRED
    NURSENAME CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
>

<!ELEMENT Staff EMPTY>
<!ATTLIST Staff
    STAFFID CDATA #REQUIRED
    STAFFNAME CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
>

<!ELEMENT MakesAppointment EMPTY>
<!ATTLIST MakesAppointment
    STUDENTID CDATA #REQUIRED
    DOCTORID CDATA #REQUIRED
    APPOINTMENTID CDATA #REQUIRED
>

<!ELEMENT MakesConsultation EMPTY>
<!ATTLIST MakesConsultation
    STUDENTID CDATA #REQUIRED
    NURSEID CDATA #REQUIRED
    CONSULTATIONID CDATA #REQUIRED
>

